---
import Layout from '../layouts/Layout.astro';
---

<Layout 
  title="Renata Torres" 
  description="Advocacia especializada em diversas áreas do direito." 
  image="/assets/hero-1.jpg" 
  url="https://www.renatatorres.com">

  <main class="text-text">
    <section id="hero" class="relative flex flex-col items-center justify-center h-screen bg-cover bg-center " style="background-image: url('/assets/bg.jpg');">
    <!-- <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-70"></div> -->
     <div class="flex flex-col items-center justify-center">
      <div class="h-auto max-w-[14rem]">
         <img src="assets/image1.png" alt="Renata Torres" />
      </div>
       <div class="h-auto max-w-[18rem] mt-[-4rem]">
         <img src="/assets/icons/logo.svg" alt="Renata Torres Logo" />
       </div>
       <div class="text-center text-sm mt-4 max-w-[40rem]">
         <p class="text-1xl xl:text-lg">
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
         </p>
       </div>
       <a href="#">
         Button
       </a>
     </div>
    </section>
  </main>
  
</Layout>