---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Renata Torres">
  <section style="text-align: center; background: #720D0D; color: white;">
    <h1>Estamos em manutenção</h1>
</Layout>