<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto Renata Torres</title>
  </head>
  <body class="flex flex-col items-center justify-center h-screen gap-12 bg-cover bg-no-repeat bg-center bg-[url('/assets/bg-login.jpg')]">

    <img src="./assets/icons/print.svg" alt="">

    <div class="flex flex-col items-center justify-center bg-white p-8 gap-3 rounded-lg">
      <h2 class="text-lg font-bold">Área Restrita</h2>
      <input class="border-2 rounded-lg p-2" type="password" id="password" placeholder="Digite a senha" />
      <button class="bg-purple-800 p-2 rounded-full text-white  " id="login-button">Acessar</button>
    </div>

    <script>
      // Função para verificar a senha
      function checkPassword() {
        const passwordInput = document.getElementById('password');
        const password = passwordInput ? (passwordInput as HTMLInputElement).value : '';
        
        if (password === 'renatatorres') {
          // Salva um estado para permitir acesso futuro sem senha durante a sessão
          sessionStorage.setItem('access_granted', 'true');
          window.location.href = '/'; // Redireciona para a página index.astro (raiz)
        } else {
          alert('Senha incorreta! Tente novamente.');
        }
      }

      // Evento do botão de login
      const loginButton = document.getElementById('login-button');
      if (loginButton) {
        loginButton.addEventListener('click', checkPassword);
      }

      // Se a senha já foi salva, redireciona para o index diretamente
      // if (sessionStorage.getItem('access_granted') === 'true') {
      //   window.location.href = '/'; // Redireciona para a página index.astro (raiz)
      // }
    </script>
  </body>
</html>
