---
import Card from "../components/card.astro";
---

<section id="section-3" class="#">
  <div class="gap-2 flex flex-col items-center justify-center mb-8 p-2 mx-4 xl:mx-auto max-w-4xl">
    <div id="title-2" class="flex flex-col items-center justify-center text-justify xl:mx-auto max-w-4xl">
      <h2>Loren, ipsum</h2>
      <p>Lorem ipsum dolor, sit amet</p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-2 gap-8 xl:mx-auto max-w-4xl">
      <Card />
      <Card />
      <Card />
      <Card />
    </div>
  </div>
</section>
