---
import Card from "../components/card.astro";
---

<section id="section-3" class="flex justify-center items-center">
  <div class="gap-2 flex flex-col items-center justify-center mb-8 p-2 mx-4 xl:mx-auto max-w-4xl">
    <div id="title-2" class="flex flex-col items-center justify-center xl:mx-auto max-w-4xl mb-8">
      <h2 class="text-2xl font-bold">Especialista em Direito Tributário</h2>
      <p>Soluções jurídicas que entregam segurança e resultados</p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-2 gap-8 xl:mx-auto max-w-4xl">
      <Card title="Planejamento Tributário Inteligente" content="Evite desperdícios e reduza encargos legais com estratégias alinhadas à legislação. O foco é aumentar a sua margem com segurança jurídica."/>
      <Card title="Consultoria para Empresas" content="Atendimento personalizado para empresários que precisam entender, ajustar ou reestruturar sua operação fiscal."/>
      <Card title="Defesa em Processos Administrativos" content="Atuação técnica e estratégica na defesa de autuações fiscais, notificações e fiscalizações que envolvem tributos federais, estaduais ou municipais."/>
      <Card title="Mentoria para Mulheres Empreendedoras" content="Possui uma atuação voltada à gestão, finanças e crescimento estratégico, tem impulsionado empreendedoras a tirarem seus negócios do papel e levá-los a um novo patamar com estrutura, clareza e consistência."/>

    </div>
  </div>
</section>
