---
import Tag from "../components/Tag.astro";
---

<section id="section-5" class="flex items-center justify-center mt-16">
  <div class="flex items-center max-w-2xl gap-4">
    <div class="">
      <h2>Loren, ipsum</h2>
      <p class="text-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Egestas in dui dictumst duis malesuada platea turpis rhoncus. Lorem ipsum dolor sit amet consectetur. Egestas in dui dictumst duis malesuada platea turpis rhoncus.
      </p>
    </div>
    <div class="relative">
      <div class="w-24 h-auto">
        <Tag class="items-center" />
      </div>
    </div>
  </section>
