---
import Faq from "../components/faq.astro";
---

<section id="section-3" class="pb-16">
  <div class="gap-2 flex flex-col items-center justify-center mb-8 mx-4 xl:mx-auto max-w-3xl">

    <div id="title-2" class="flex flex-col items-center justify-center text-justify xl:mx-auto max-w-4xl mb-8">
      <h2 class="text-3xl font-semibold text-center">Loren, ipsum</h2>
      <p class="text-lg text-center text-text">Lorem ipsum dolor, sit amet</p>
    </div>

    <div id="faqs" class="w-full space-y-4">
      <Faq 
      title="Loren, ipsum dolor sit amet?"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique." />
      <Faq 
      title="Loren, ipsum dolor sit amet?"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique." />
      <Faq 
      title="Loren, ipsum dolor sit amet?"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique." />
      <Faq 
      title="Loren, ipsum dolor sit amet?"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique." />
      <Faq 
      title="Loren, ipsum dolor sit amet?"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique." />
    </div>
  </div>
</section>