---
import Button from "../components/Button.astro";
---

<section id="section-6" class="flex justify-center items-center" style="border-top: 2px solid; border-image: linear-gradient(to right, transparent, #EDD89B, transparent) 1;">
  <div class="">
    <div id="text-img" class="flex flex-col-reverse gap-8 items-center xl:items-start justify-between mx-8 my-16 xl:mx-auto max-w-3xl xl:flex-row-reverse">
      <div id="title" class="flex flex-col items-center justify-center">
        <div class="flex flex-col gap-[0.2rem] items-start justify-start text-justify max-w-2xl">
          <h3 class="text-sm font-semibold text-primary">Renata Torres</h3>
          <h2 class="text-xl font-bold">Um pouco sobre mim</h2>
          <p>
            Sou Advogada Tributarista, com uma atuação voltada à consultoria estratégica, defesas administrativas e formação jurídica aplicada à prática. Com foco em gestão, finanças e crescimento sustentável, ajudo empresas e profissionais liberais a estruturarem decisões seguras e eficientes no campo tributário.
          </p>
        </div>
        <Button span="Falar com Especialista"/>
      </div>
      <img class="border-[0.5rem] border-img rounded-xl max-w-52" src="/assets/image3.png" alt="">
    </div>
  </div>
</section>
