---
import Button from "../components/Button.astro";
---

<section id="section-6" class="my-8" style="border-top: 2px solid; border-image: linear-gradient(to right, transparent, #EDD89B, transparent) 1;">
  <div class="py-12">
    <div id="text-img" class="flex flex-col-reverse gap-4 items-center justify-between mb-4 mx-4 xl:mx-auto max-w-3xl xl:flex-row-reverse">
      <div id="title" class="flex flex-col items-center justify-center">
        <div>
          <h3>Loren, ipsum</h3>
          <h2>Lorem, ipsum dolor sit amet</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium cupiditate, nisi vitae odit saepe ipsam alias necessitatibus quae similique nostrum sequi quo esse delectus at, mollitia deserunt porro aliquid adipisci.
          </p>
        </div>
        <Button />
      </div>
      <img class="border-[0.5rem] border-img rounded-xl max-w-52" src="/assets/image3.png" alt="">
    </div>
  </div>
</section>
