<a href="#" class="block w-fit rounded-lg px-12 py-2.5 mt-8 text-sm bg-primary text-card shadow-lg shadow-primary/50 hover:text-text hover:bg-card transition duration-300 ease-in-out hover:shadow-xl hover:shadow-primary/50">
  <span class="#">Lorem ipsum dolor</span>
</a>