<div class="text-sm xl:text-base text-text">
  <img class="w-10" src="/assets/icons/star.svg" alt="Icon">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe beatae aperiam reprehenderit.</p>
</div>