---
const { title, content, url } = Astro.props;
---

<a href={ url } class="flex bg-card text-white rounded-2xl shadow-lg p-2 max-w-xs mx-auto border-[0.1rem] border-primary justify-center items-center gap-2">
  <div class="flex justify-center items-center w-12 h-12">
  
  <lord-icon
      src="https://cdn.lordicon.com/ayhtotha.json"
      trigger="hover"
      colors="primary:#edd89b"
      style="width:50px;height:50px">
  </lord-icon>
  
  </div>
  
  <div class="">
    <span class="font-bold text-base block"> { title }</span>
    <p class="text-xs">{ content }</p>
  </div>
</a>

<script src="https://cdn.lordicon.com/lordicon.js"></script>