<div class="relative rounded-lg border-8 border-img flex flex-col items-center justify-center mx-4 xl:mx-auto max-w-4xl mt-48">

  <img class="absolute right-0 bottom-0 w-48" src="/public/assets/image4.png" alt="Image">

  <div class="bg-primary rounded-md">
    <span class="text-2xl font-semibold text-red-700">Lorem ipsum dolor sit amet</span>

    <p class="text-red-600 mt-4 ">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Egestas in dui dictumst duis malesuada platea turpis rhoncus. Lorem ipsum dolor sit amet consectetur. Egestas in dui dictumst duis malesuada platea turpis rhoncus.
    </p>
  </div>
</div>
