<div class="flex justify-center items-center absolute w-full h-full">
  <img class="absolute animate-rotate" src="/assets/icons/icon-text.svg" alt="">
  <div class="absolute flex items-center w-16 h-16 justify-center bg-white p-4 rounded-full">
    <img src="/assets/icons/icon.svg" alt="">
  </div>
</div>
