<div id="title_faqs" class="relative flex flex-col items-center justify-center text-justify xl:mx-auto max-w-4xl mb-8">
  <!-- Título (h2) com gradiente vertical -->
  <h2 class="relative text-6xl font-black text-transparent bg-clip-text bg-gradient-to-t from-[#B61704] to-[#720D0D] text-center">
    DÚVIDAS
  </h2>
  <p class="absolute text-xl text-center text-white z-10 mt-8">
    Perguntas Frequentes
  </p>
</div>
